<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team FlexBox's Smart Meeting minutes</title>
    <link rel="stylesheet" href="../static/styles.1.css">


  </head>
  <body>
    <header>
        <div class="container">
            <h1>Smart Meeting Minutes</h1>
            <p>Efficiently capture and manage your meeting notes</p>
        </div>
    </header>
    <nav>
            <div class="container">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    <main>
      <div class="top-row">
        <img src="../static/images/favicon-32x32.png" alt="Logo">
        <a href="/about">About</a>
    </div>
        <div class="container">
            <section class="intro">
                <h2>Welcome to Smart Meeting Minutes</h2>
                <p>Our Smart Meeting Minutes Generator is an innovative and advanced solution that helps in summarizing meeting transcripts used for analyzing the meeting’s main takeaways and agendas that were addressed. It also includes the type of outcome of the meeting, whether it was a positive or negative result which helps in addressing any drawbacks and mitigating problems.</p>
                <a href="login.html" class="cta-button">Get Started</a>

            </section>

            <section class="features">
                <h2>Key Features</h2>
                <ul>
                    <li>Automated summarization</li>
                    <li>Calendar documentation and tracking</li>
                    <li>Sentiment analisys</li>
                    <li>Download summary transcripts</li>
                </ul>
            </section>
        </div>
    </main>
    <footer>
    <div class="container">
        <p>&copy; Team Flexbox: Smart Meeting Minutes.</p>
    </div>
</footer>
</body>
</html>